<div class="features-page-container">
	<h1 class="features-main-title">Features</h1>
	<div class="features-container">
		<div class="feature-category">
			<a class="feature-image-container" href="?t=Power">
				<img class="main-image" src="./sq/powerModule.png"/>
			</a>
			<div>
				<a class="title">Power module</a>
				<div>
					evive has its own inbuilt Li-ion 2200mAh battery, giving it portability and durability. 
					It can also be powered externally by a USB wall charger, power bank, DC wall adapter, laptops and >12V batteries. These inputs have reverse polarity, overvoltage and overcurrent protection to protect you and your evive in the event of any mistakes.
					evive also has a host of power output ports, with a fixed 5V/3A supply, fixed 3.3V/0.8A supply and a tunable voltage supply from 1.25 – 30V/3A.
				</div>
				<div class="icon-link-container">
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>	
				</div>
			</div>
		</div>
		<div class="feature-category">
			<a class="feature-image-container" href="?t=Power">
				<img class="main-image" src="./sq/powerModule.png"/>
			</a>
			<div>
				<a class="title">Power module</a>
				<div>
					evive has its own inbuilt Li-ion 2200mAh battery, giving it portability and durability. 
					It can also be powered externally by a USB wall charger, power bank, DC wall adapter, laptops and >12V batteries. These inputs have reverse polarity, overvoltage and overcurrent protection to protect you and your evive in the event of any mistakes.
					evive also has a host of power output ports, with a fixed 5V/3A supply, fixed 3.3V/0.8A supply and a tunable voltage supply from 1.25 – 30V/3A.
				</div>
				<div class="icon-link-container">
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>
					<a href="?t=Power#InternalLiionBattery">
						<img class="icon" src="./sq/power/DAC_1.png"/>
						<div class="icon-title">Bla Bla</div>
					</a>

				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.features-main-title{
		text-align: center;
		color: #1c75bc;
	}
	.features-container{
		max-width: 1200px;
		margin: auto;
	}
	.feature-category{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		background: #fafafa;
		border: solid 1px #f0f0f0;
		padding: 12px;
		border-radius: 5px;
		margin-bottom: 24px;
	}
	.feature-category .title{
		font-size: 20px;
	    font-weight: bold;
	    margin: 12px 0;
	    display: block;
	}
	.feature-image-container{
		margin-right: 12px;
	}
	.main-image{
		width: 300px;
	}

	.icon-link-container{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.icon-link-container .icon{
		width: 64px;
		height: 64px;
	}
	.icon-link-container a{
		width: 80px;
		transition: background ease 300ms;
		margin: 6px;
		text-align: center;
		padding: 6px;
	}
	.icon-link-container a:hover{
		background: #eee;
	}
	.icon-link-container .icon-title{
		text-align: center;
		text-decoration: none;
		color: inherit;
		font-size: 12px;
	}
</style>