<ng-include src="navbar.url"></ng-include>
<div class="main-documentation">
	<div class="tile-container">
		<a class="tile" href="{{e.href}}" ng-repeat="e in homeData">
			<img class="tile-image" src="{{e.img}}">
			<div class="tile-title">{{e.title}}</div>
		</a>
	</div>
	<div class="section section-projects">
		<div class="title">PROJECTS</div>
		<div class="content">
			<div class="tile">
				<div class="image-wrapper">
					<img src="./images/projects/scientificCalculatorLow.jpg">
				</div>
				<div class="text-wrapper">
					<div class="can-be-invisible">
						<a class="full-instructions" target="_blank" href="https://www.hackster.io/evive-an-opensource-embedded-platoform/scientific-calculator-on-evive-powered-by-arduino-mega-5b4373?ref=search&ref_id=evive&offset=2">
							Full instructions
						</a>
						<div>
							Its a Scientific Calculator (4 decimal accuracy) with functions like +, -, *, %, Sin, Cos, Tan, arcSin, arcCos, aTan, log made using evive.
						</div>
					</div>
					<a class="title" target="_blank" href="https://www.hackster.io/evive-an-opensource-embedded-platoform/scientific-calculator-on-evive-powered-by-arduino-mega-5b4373?ref=search&ref_id=evive&offset=2">
						Scientific Calculator
					</a>
				</div>
			</div>
			<div class="tile">
				<div class="image-wrapper">
					<img src="./images/projects/scientificCalculatorLow.jpg">
				</div>
				<div class="text-wrapper">
					<div class="can-be-invisible">
						<a class="full-instructions" target="_blank" href="https://www.hackster.io/evive-an-opensource-embedded-platoform/scientific-calculator-on-evive-powered-by-arduino-mega-5b4373?ref=search&ref_id=evive&offset=2">
							Full instructions
						</a>
						<div>
							Its a Scientific Calculator (4 decimal accuracy) with functions like +, -, *, %, Sin, Cos, Tan, arcSin, arcCos, aTan, log made using evive.
						</div>
					</div>
					<a class="title" target="_blank" href="https://www.hackster.io/evive-an-opensource-embedded-platoform/scientific-calculator-on-evive-powered-by-arduino-mega-5b4373?ref=search&ref_id=evive&offset=2">
						Scientific Calculator
					</a>
				</div>
			</div>
			<div class="tile">
				<div class="image-wrapper">
					<img src="./images/projects/scientificCalculatorLow.jpg">
				</div>
				<div class="text-wrapper">
					<div class="can-be-invisible">
						<a class="full-instructions" target="_blank" href="https://www.hackster.io/evive-an-opensource-embedded-platoform/scientific-calculator-on-evive-powered-by-arduino-mega-5b4373?ref=search&ref_id=evive&offset=2">
							Full instructions
						</a>
						<div>
							Its a Scientific Calculator (4 decimal accuracy) with functions like +, -, *, %, Sin, Cos, Tan, arcSin, arcCos, aTan, log made using evive.
						</div>
					</div>
					<a class="title" target="_blank" href="https://www.hackster.io/evive-an-opensource-embedded-platoform/scientific-calculator-on-evive-powered-by-arduino-mega-5b4373?ref=search&ref_id=evive&offset=2">
						Scientific Calculator
					</a>
				</div>
			</div>
			<div class="tile">
				<div class="image-wrapper">
					<img src="./images/projects/scientificCalculatorLow.jpg">
				</div>
				<div class="text-wrapper">
					<div class="can-be-invisible">
						<a class="full-instructions" target="_blank" href="https://www.hackster.io/evive-an-opensource-embedded-platoform/scientific-calculator-on-evive-powered-by-arduino-mega-5b4373?ref=search&ref_id=evive&offset=2">
							Full instructions
						</a>
						<div>
							Its a Scientific Calculator (4 decimal accuracy) with functions like +, -, *, %, Sin, Cos, Tan, arcSin, arcCos, aTan, log made using evive.
						</div>
					</div>
					<a class="title" target="_blank" href="https://www.hackster.io/evive-an-opensource-embedded-platoform/scientific-calculator-on-evive-powered-by-arduino-mega-5b4373?ref=search&ref_id=evive&offset=2">
						Scientific Calculator
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="explore-more-container">
		<a class="explore-more" href="somewhere">Explore more projects</a>
	</div>
</div>

<style type="text/css">
	.main-documentation{
		margin-top: 24px;
		margin-left: -12px;
		margin-right: -24px;
	}
	.tile-container{
		position: relative;
		margin: auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.tile{
		position: relative;
		width: 274px;
		/*height: 274px;*/
		background: #fafafa;
		border: solid 1px #eee;
		margin: 12px;
		padding: 12px;
		text-align: center;
	}
	.tile-image{
		width: 250px;
		height: 250px;
	}
	.tile-title{
		font-weight: bold;
		font-size: 18px;
	}

	.explore-more-container{
		text-align: center;
		margin-bottom: 12px;
	}
	.explore-more{
		border: solid 1px #1c75bc;
		color: #fff;
		background: #1c75bc;
		padding: 8px 24px;
		font-size: 18px;
		border-radius: 3px;
	}
</style>