<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
	<div class="footer-a">
		<div class="footer-b">COMPANY</div>
		<div class="footer-c">
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
		</div>
		<div class="footer-c">
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
		</div>
	</div>
	<div class="footer-a">
		<div class="footer-b">COMPANY</div>
		<div class="footer-c">
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
		</div>
		<div class="footer-c">
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
		</div>
	</div>
	<div class="footer-a">
		<div class="footer-b">COMPANY</div>
		<div class="footer-c">
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
		</div>
		<div class="footer-c">
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
		</div>
	</div>
	<div class="footer-a">
		<div class="footer-b">COMPANY</div>
		<div class="footer-c">
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
		</div>
		<div class="footer-c">
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
			<a href="sadhfdskfjdkjksdf">how it works</a>
		</div>
	</div>
	<div class="footer-a footer-email-wrapper">
		<div class="footer-b">SUBSCRIBE FOR UPDATES</div>
		<div class="footer-email-container">
			<form action="http://evive.us13.list-manage.com/subscribe/post?u=be8f997ef5db27944559c6598&id=bc4935bb71" target="_blank" method="post" novalidate>
			<input type="email" name="EMAIL" placeholder="Enter your email..." class="footer-email-input" id="mce-EMAIL" required="" data-cip-id="mce-EMAIL">
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="footer-email-submit">
			</form>
		</div>

		<div style="margin-top: 12px;" class="footer-b">FIND EVIVE ON SOCIAL MEDIA</div>
		<div class="social-icons">
			<a href="https://www.facebook.com/evivetoolkit"><i class="fa fa-facebook"></i></a>		
			<a href="https://www.facebook.com/evivetoolkit"><i class="fa fa-twitter"></i></a>		
			<a href="https://www.facebook.com/evivetoolkit"><i class="fa fa-youtube"></i></a>		
		</div>
		<div>
			<a href="">
				<img style="height: 48px;" src="icons/fund-indiegogo.png">
			</a>
		</div>
	</div>
	<div style="width: 100%;border-top: solid 1px;margin: 12px 0 0;padding: 12px 12px 8px;">
		<div style="max-width: 1260px;margin: auto;">
			<span style="line-height: 40px;">&copy; 2017 Agilo Technologies Pvt. Ltd. All rights reserved.</span>
			<div style="float: right;">
				<a href="">
					<img style="height: 35px;" src="icons/by-sa.svg">
				</a>
				<a href="" style="margin-left: 12px;">
					<img style="height: 35px;" src="icons/oshw-logo-400-px.png">
				</a>
			</div>
		</div>
	</div>
</div>