<div class="navbar-wrapper">
	<div class="navbar">
		<div class="navbar-content-wrapper left-side">
			<a class="brand" href="../">evive</a>
		</div>
		<div class="navbar-content-wrapper right-side">
			<a class="link home" href="./">Home</a>
			<a class="link" href="learn">Learn</a>
			<a class="link" href="./tech">Tech</a>
			<a class="link" href="#gallery">Gallery</a>
			<a class="link" href="#projects">Projects</a>
			<a class="link" href="#contacts">Contacts</a>
			<a class="link" href="//blog.evive.cc">Blog</a>
			<a class="link buy-link" href="https://igg.me/at/evive/x/11678575">Buy</a>
		</div>
	</div>
</div>