@import "bourbon/bourbon";
@import "fonts";
@import "variables";
@import "footer";
body{
	margin: 0;
	font-family: 'Open Sans';
}

a{
	text-decoration: none;
	color: inherit;
}
*,*:after,*:before{
	box-sizing: border-box;
}

table{
	border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

th{
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}


.doc-note{
	background-color: #d9edf7;
	border: solid 1px #bce8f1;
	color: #31708f;
	border-radius: 3px;
	padding: 12px;
}
.doc-caic{
	display: block;
	text-align: center;
}
.doc-caic img{
	display: inline-block;
	width: 600px;
}


@import "navbar";
@import "sections";